.panel {
	background-color: #fff;
	
	border: 1px solid #CDCDCD;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	margin: 20px;
	
	.with-left-margin {
		margin-left: 20px;
	}
	
	.contents {
		padding: 5px;
		
		h1 {
			margin-left: 20px;
		}
	}
}

.place-list {
	cursor: pointer;
	
	.active {
		a {
			color: #FA9200 !important;
		}

		a.btn {
			color: black !important;
		}

		color: #FA9200 !important;
	}
}


.export-btn {
	margin-top: 10px;
}

.selected {
	border-bottom: 3px solid #45D2A4;
}