body {
  background: url('/assets/b_stripe.png');
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:hover {
    color: #fff;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}


.field_with_errors {
  color: #C2584D;
  width: 230px;
}

.error-block div {
	width: 10px !important;
	display: inline-block !important;
}

.error-block div.field_with_errors {
	color: #C2584D;
	width: 230px !important;
	display: inline-block !important;
}

.field_with_errors input, .field_with_errors input:hover, .field_with_errors textarea, .field_with_errors 		textarea:hover, .field_with_errors select, .field_with_errors select:hover {
	border: 1px solid #C2584D;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.mid {
	display: inline-block;
	width: 45%;
	vertical-align: top;
}

.button-new {
	text-align: right;
	margin-top: 15px;
}

.container-50 {
	width: 50%;
	margin-left: 30px;
}
