<div class="panel">
	<div class="contents">
		<div class="page-header">
		  <h1><%= t('views.exports.index.title') %></h1>
		</div>
		
		<div class="with-left-margin">						
			
			<div class="mid">
				<h3><%= t('views.exports.index.plist.title')%> </h3>
				<p><%= t('views.exports.index.plist.details') %></p>
			</div>
			<div class="mid">
				<%= link_to t('views.commons.actions.export'), places_path(:plist), :class => "btn btn-info export-btn" %>
			</div>
		</div>
	</div>
</div>